<% post_url = post.is_raw_image? ? post.image.url : post.source_url %>
<div class="voice-box <%= post.source_type %> <%= 'unmoderated' unless post.approved? %>" data-post-id="<%= post.id %>" data-created-at="<%= post.created_at.beginning_of_day.to_date %>">
  <%= link_to '', [@voice, post], :method => :delete, :confirm => 'Are you sure?', :class => 'close-voice-box' if current_user && current_user.is_admin? %>

  <div class="voice-cont">
    <%= link_to post_url, :class => "source-url post-#{post.id}", :'data-type' => post.source_type, :'data-title' => post.title, :'data-permalink' => voice_url(@voice, :post => post.id), :'data-ago' => time_ago_in_words(post.created_at), :'data-id' => post.id, :'data-voted' => false, :'data-service' => post.source_url.nil? ? Post.detect_service(post.source_url) : post.source_url do %>
      <%= image_tag post.image.thumb.url, :size => "#{post.image_width}x#{post.image_height}", :class => 'thumb-preview' %>
    <% end %>
    <h3><%= post.title if post.title != '(no title)'%></h3>
    <span><%= post.created_at.to_s(:short) %></span>
    <% if post.source_type == 'link' || post.source_type == 'image' %>
      <p>
        <%= get_excerpt(post.description, 250) if post.description && post.description != '(no description)' %>
      </p>
    <% end %>

  </div>
  <div class="voice-action" <%= 'style=display:none' unless post.approved? %> >
    <span class="post-icon-type <%= post.source_type %>-icon"></span>
    <ul class="actions">
      <li><%= link_to '', "http://facebook.com/sharer.php?u=#{voice_url(@voice, :post => post.id)}", :class => 'facebook', :target => '_blank' %></li>
      <li><%= link_to '', "http://twitter.com/intent/tweet?text=#{CGI.escape(post.title.nil? ? @voice.title : post.title)}&url=#{voice_url(@voice, :post => post.id)}&via=crowdvoice", :class => 'twitter', :target => '_blank' %></li>

      <li class="flag-div">
        <%= link_to '', voice_post_votes_path(@voice, post, :rating => -1 , :format => :json), :class => "flag vote-post", :method => :post %>
        <div class="tooltip flag-tip" data-post-id="post_<%= post.id %>">
          <div class="tooltip-positioner">
          <p class="tooltip-arrow"><span></span></p>
          <div class="media-type-info">
            <strong class="media-type-title"></strong>
            <p class="flag-tooltip">
              <span>Flag Inappropiate Content</span>
            </p>
          </div>
        </div>
      </li>
    </ul>
    <div style="clear:both"></div>
  </div>
  <% unless post.approved? %>
    <div class="voice-unmoderated">
      <span>Unmoderated Post</span>
      <ul>
        <li class="up flag-div">
          <span><%= link_to '', voice_post_votes_path(@voice, post, :rating => 1, :format => :json), :method => :post, :class => 'vote-post thumb' %></span>
          <div class="tooltip thumb-tip" data-post-id="post_<%= post.id %>_up">
            <div class="tooltip-positioner">
            <p class="tooltip-arrow"><span></span></p>
            <div class="media-type-info">
              <strong class="media-type-title"></strong>
              <p class="flag-tooltip">
                <span>Thumbs up!</span>
              </p>
            </div>
          </div>
        </li>

        <li class="down flag-div">
          <span><%= link_to '', voice_post_votes_path(@voice, post, :rating => -1, :format => :json), :method => :post, :class => 'vote-post thumb' %></span>
          <div class="tooltip thumb-tip" data-post-id="post_<%= post.id %>_down">
            <div class="tooltip-positioner">
            <p class="tooltip-arrow"><span></span></p>
            <div class="media-type-info">
              <strong class="media-type-title"></strong>
              <p class="flag-tooltip">
                <span>Thumbs down!</span>
              </p>
            </div>
          </div>
        </li>
      </ul>
      <div style="clear:both"></div>
    </div>
  <% end %>
</div>
