<div class="widget-voice <%= @list_height_size %> <%= @list_width_size %> <%= 'widget-all-voices' unless @scope_this %> <%= 'widget-rtl' if @rtl%>" <%= "DIR='rtl'" if @rtl %> >
  <%= render :partial => "top_header" %>
  <div class="voice-content">
    <ul class="voice-posts">
      <% if @scope_this %>
        <%= render :partial => "post", :collection => @posts %>
      <% else %>
        <%= render :partial => "voice", :collection => @voices %>
      <% end %>
    </ul>
  </div>
  <%= render :partial => "footer" %>
</div>