<div id="overlay"></div>
<div class="overlay-container" data-hansel-component-id="posts-image-video-overlay">
  <div class="arrows prev">
    <a href="#" class="voice-arrow left" title="{{prev_title}}" data-id="{{prev_id}}"></a>
    <div class="tooltip-arrow left">
      {{prev_image}}
      <p class="over-arrow"></p>
    </div>
  </div>
  <div class="voice-container" style="width:{{voice_width}}px">
    <a class="close-voice-container" href="#"></a>
    <div class="voice-over-info">
      <div>{{content}}</div>
      <h2>{{title}}</h2>
    </div>
    <div class="share-voice-container right-action">
      <p>{{time_ago}} ago</p>
      <ul class="actions">
        <li><%= link_to '', "http://facebook.com/sharer.php?u={{post_permalink}}", :class => 'facebook', :target => '_blank' %></li>
        <li><%= link_to '', "http://twitter.com/intent/tweet?text={{escaped_title}}&url={{post_permalink}}&via=crowdvoice", :class => 'twitter', :target => '_blank' %></li>
        <li class="flag-div">
          <%= link_to '', "/{{voice_slug}}/posts/{{post_id}}/votes.json?rating={{rating}}", :format => :json, :class => "flag overlay-vote-post", :method => :post %>
          <div class="tooltip flag-tip" data-post-id="post_{{post_id}}">
            <div class="tooltip-positioner">
            <p class="tooltip-arrow"><span></span></p>
            <div class="media-type-info">
              <strong class="media-type-title"></strong>
              <p class="flag-tooltip">
                <span>Flag Inappropiate Content</span>
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="arrows next">
    <a href="#" class="voice-arrow right" title="{{next_title}}" data-id="{{next_id}}"></a>
    <div class="tooltip-arrow right">
      {{next_image}}
      <p class="over-arrow right-tip-arrow"></p>
    </div>
  </div>
</div>




<div class="link-overlay">
  <iframe src="about:blank" width="100%" height="100%"></iframe>

  <div class="link-base-container">
    <div class="back-to-voice">
      <span>back to Voice</span>
      <ul class="arrows">
        <li class="prev"><a href="#" class="voice-arrow prev" title="{{prev_title}}" data-id="{{prev_id}}"></a></li>
        <li class="next"><a href="#" class="voice-arrow next" title="{{next_title}}" data-id="{{next_id}}"></a></li>
      </ul>
    </div>

    <div class="link-base-border">
      <div class="link-base-action">
        <ul>
          <li class="copy-url" id="d_clip_container" style="position:relative"><a id="d_clip_button" href="#">Copy URL</a></li>
          <li><a href="{{source_url}}">View Original</a></li>
        </ul>

        <div class="right-action">
          <span>{{time_ago}} ago</span>
          <ul class="actions">
            <li><%= link_to '', "http://facebook.com/sharer.php?u={{post_permalink}}", :class => 'facebook', :target => '_blank' %></li>
            <li><%= link_to '', "http://twitter.com/intent/tweet?text={{escaped_title}}&url={{post_permalink}}&via=crowdvoice", :class => 'twitter', :target => '_blank' %></li>
            <li class="flag-div">
              <%= link_to '', "/{{voice_slug}}/posts/{{post_id}}/votes.json?rating={{rating}}", :format => :json , :class => "flag overlay-vote-post", :method => :post %>
              <div class="tooltip flag-tip" data-post-id="post_{{post_id}}">
                <div class="tooltip-positioner">
                <p class="tooltip-arrow"><span></span></p>
                <div class="media-type-info">
                  <strong class="media-type-title"></strong>
                  <p class="flag-tooltip">
                    <span>Flag Inappropiate Content</span>
                  </p>
                </div>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </div>

  </div>
</div>

<div class="vide-overlay-container">
  <div class="video-container">
    <a class="close-voice-container" href="#"></a>
    <div>
      <iframe width="640" height="480" src="http://www.youtube.com/embed/qB2RIWpU3r0?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
