<% if @scope_this %>
  <div class="voice-header">
    <div class="voice-nav">
      <%= link_to "Crowdvoice", root_url, :title => "Crowdvoice", :class => "hide-text crowdvoice-logo widget-icon left", :target => "_blank" %>
      <ul class="voice-social right">
        <li>
          <%= link_to "Twitter", "http://twitter.com/crowdvoice", :title => "Twitter", :class => "hide-text widget-icon twitter", :target => "_blank" %>
        </li>
        <li>
          <%= link_to "Facebook", "http://facebook.com/crowdvoice", :title => "Facebook", :class => "hide-text widget-icon facebook", :target => "_blank" %>
        </li>
        <li>
          <%= link_to "RSS", voice_url(@voice, :rss), :title => "RSS", :class => "hide-text widget-icon rss", :target => "_blank" %>
        </li>
      </ul>
      <div class="clear"></div>
    </div>
    <div class="voice-info">
      <% if @scope_this %>
        <h3><%= @voice.title %></h3>
        <% if @show_description %>
          <p><%=truncate @voice.description, :length => 25, :separator => ' ' %></p>
        <% end %>
        <div class="clear"></div>
      <% else %>
        <h3>Explore crowdsourced topics from around the world</h3>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="voice-header">
    <div class="all-voices-title">
      <h1><%= link_to "Crowdvoice", root_url, :title => "Crowdvoice", :class => "hide-text crowdvoice-logo", :target => "_blank" %></h1>
    </div>
    <div class="all-voices-description">
      <h2>Explore crowd sourced topics from around the world</h2>
    </div>
    <div class="all-voices-social">
      <span>Share this widget</span>
      <ul class="voice-social">
        <li><%= link_to "Twitter", "http://twitter.com/crowdvoice", :title => "Twitter", :class => "hide-text widget-icon twitter", :target => "_blank" %></li>
        <li><%= link_to "Facebook", "http://facebook.com/crowdvoice", :title => "Facebook", :class => "hide-text widget-icon facebook", :target => "_blank" %></li>
        <li><%= mail_to '', '', :subject => 'Crowdvoice.org Tracking voices of protest', :body => 'I highly recommend you to see this site. http://crowdvoice.org', :encode => 'hex', :title => "Email", :class => "hide-text widget-icon email" %></li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
<% end %>
